@model IEnumerable<BookingDto>

@{
    //Model = Model.Where(item => item.TenantId == ) //TODO
    IEnumerable<BookingItemDto> bookingItems = ViewBag.BookingItems;
    ViewData["Title"] = "Liste af dine bookinger";
}

<h1>Oversigt over dine bookinger</h1>

<p>
    <a asp-action="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Start tid
            </th>
            <th>
                Slut tid
            </th>
            <th>
                Booking element
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @bookingItems.FirstOrDefault(bookingItem => bookingItem.Id == item.BookingItemId)?.Title
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}

<div>
    <a asp-action="Index" asp-controller="Home">Tilbage</a>
</div>
    </tbody>
</table>