@model IEnumerable<BookingItemDto>

@{
    ViewData["Title"] = "Liste af booking elementer";
}

<h1>Oversigt over booking elementer</h1>

<p>
    <a asp-action="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Pris
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>